:root{
    --primary-color:rgb(3, 19, 88);
    --secondary-color:rgb(250, 250, 252);
    --tertiary-color:rgb(6, 0, 0); 
    --family-font1:"Roboto", sans-serif; 
      
}
header{
    display: flex;
    background-color: var(--primary-color);
}
.box1{
    display: flex;
}
.box2{
    display: grid;  
    align-items: center;
    height: 120px;
}
.namepage{
    position: relative;
    margin-left: 6px;
    bottom:40px;
    color: var(--secondary-color);

}
.imghead{
    width: 100px;
    height: 100px;
    margin-top: 10px;
    margin-left: 6px;
}
.namecity{
    font-size: 30px;  
    margin-left: 6px;
    color:var(--secondary-color)  
}
a{
    text-decoration: none; 
    font-family: var(--family-font1);   
}
li{
    list-style-type: none;
}
.alink{
    color: var(--secondary-color);    
}
.alink:hover{
    color: rgb(69, 210, 249);
}


.button:hover{
    color:aqua;
    font-family: var(--family-font1);
}



.busihead{
    text-align: center;   
    color: var(--primary-color); 
}

.busiimg{    
    margin-left: 10px;
    margin-right: 10px;
}
.data{
    display: flex;
}
.box4{
    display:flex;    
}



h2{
    display: flex;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    margin: 0;
    font-family: var(--family-font1);    
}

h1{
    margin: 0;
 
}
.socialimg{
    height: 70px ;
    height: 70px;
    background-color: var(--secondary-color);
    border-radius: 50%;
}
footer{
    display: flex;
    justify-content: space-around;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 17px;
    height: 150px;
    align-items: center;
    font-family: var(--family-font1);
   
}
footer p{
    margin: 0;
   

}