:root{
    --primary-color:rgb(20, 1, 45);
    --secondary-color:rgb(250, 250, 252);
    --tertiary-color:rgb(6, 0, 0); 
    --family-font1:"Roboto", sans-serif; 
    --quaternary-color:rgb(17, 167, 254);
    --fifthy-color:rgb(190, 215, 223);
      
}


@media (min-width: 1025px) {
.open, .close{
    display:none;
}
h1{
    margin: 0;
    width: 100%;
    justify-self: center;
    justify-content: center;
    text-align: center;
    font-size: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: var(--primary-color);
    height: 100px;
    align-content: center;
    color: var(--secondary-color);
    text-shadow: 
        3px 3px 0px black, 
        -3px 3px 0px black, 
        3px -3px 0px black, 
        -3px -3px 0px black;   
 
}

ul li a{
    text-decoration: none; 
    font-family: var(--family-font1);
    color: var(--secondary-color);
    background-color: var(--tertiary-color);       
    font-size: 30px;
    border-radius: 2px;   
    
}
.menu button {
	padding: 0.5rem;
	font-size: 25px;
    margin: 10px;
    font-family: var(--family-font1);
}
.box2{
    display: grid;  
    align-items: center;
    height: 120px;
}
.nav{
    display: flex;   
    height: 100px;
    width: 1200px;  
    align-content: center; 
    
}
.startlink {
    list-style-type: none;     
    margin: 50px;    
    width: 300px;
    display: flex;
    text-align: center;    
    width: 1200px;
    justify-content: end;    
    gap:70px;

}


.icon{
    width: 110px;
    height: 110px;
    position: relative; 
    left: 15%;       
}
/*-----------------------------------MAIN-------------------------------*/
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
  
}

.card {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto auto auto auto;
    gap: 10px;
    width: 700px;
    height: 300px;
    border: solid black;
    margin: 8px;
    border-radius: 10px;

    grid-template-areas:
    "img title"
    "img description"
    "img address"
    "img button";
}

.card h2 {
    grid-area: title;
    font-size: 25px;
    height: 50px;
    width: 450px;
    justify-content: left;
    position: relative;    
    color: var(--tertiary-color);   
    right:40px;  
    font-family: var(--family-font1);    
    text-shadow: 2px 2px 5px rgba(0, 0, 255, 0.5); 
       
}

.card img {
    grid-area: img;
    width: 100%;
    height: auto;
}

.card address {
    grid-area: address;
    font-size: 15px;
    width: auto;
    height: auto;
    margin: 0;
    align-self: center;
    position: relative;
    bottom: 130px;
    justify-self: center;
    right: 30%;
}

.card p {
    grid-area: description;
    width: 400px;
    margin: 10px;
    right: 8%;
    position: relative;
    bottom:130px;
    font-size: 20px;
}

.card button {
    grid-area: button;
    height: 50px;
    width: 600px;
    justify-self: start;
    align-self: center;
    border-radius: 10px;
    font-size: 20px;
    position: relative;
   right: 40%;
   bottom: 100px;
}
.message {   
    padding: 10px;
    border: solid black;
    margin: 10px 0;
    font-size: 40px;
    
}
.card img {
    transition: transform 0.3s ease; 
}

.card img:hover {
    transform: scale(1.2); 
}





}

/*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/
@media (min-width: 641px) and (max-width: 1024px) {
    .open, .close {
        display: none;
    }
    h1 {
        margin: 0;
        width: 100%;
        text-align: center;
        font-size: 70px;
        margin-top: 20px;
        margin-bottom: 20px;
        background-color: var(--primary-color);
        height: 100px;
        align-content: center;
        color: var(--secondary-color);
        text-shadow: 
            3px 3px 0px black, 
            -3px 3px 0px black, 
            3px -3px 0px black, 
            -3px -3px 0px black;
    }
    
    ul li a {
        text-decoration: none; 
        font-family: var(--family-font1);
        color: var(--secondary-color);
        background-color: var(--tertiary-color);       
        font-size: 30px;
        border-radius: 2px;     
    }
    .menu button {
        padding: 0.5rem;
        font-size: 25px;
        margin: 10px;
        font-family: var(--family-font1);
    }
    .box2 {
        display: grid;  
        align-items: center;
        height: 120px;
    }
    .nav {
        display: flex;   
        height: 100px;
        width: 100%;  
        align-content: center;
    }
    .startlink {
        list-style-type: none;     
        margin: 50px;    
        width: 100%;  
        display: flex;
        text-align: center;    
        justify-content: end;    
        gap: 70px;
    }
    
    .icon {
        width: 110px;
        height: 110px;
        position: relative; 
        left: 15%;       
    }
    /*-----------------------------------MAIN---------------------------------------*/
    main{
        width: 1000px;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        width: 100%;  
    }

    .card {
        display: grid;    
        gap: 10px;
        width: 1000px; 
        height: 320px;
        border: solid black;
        margin: 8px;
        border-radius: 10px;
        background-color: var(--fifthy-color);
        grid-template-areas:
        "title"
        "img description"
        "img address"
        "button";
        justify-items: center;
    }

    .card h2 {
        grid-area: title;
        font-size: 28px;
        height: 50px;
        width: 100%;  
        position: relative;    
        color: var(--tertiary-color); 
        font-family: var(--family-font1);    
        text-shadow: 2px 2px 5px rgba(0, 0, 255, 0.5); 
        bottom:262px;
        right:350px;
        
    }

    .card img {
        grid-area: img;
        width: 300px;  
        height: 200px;
        position: relative;
       top: 30px;
    }
    .card p {
        grid-area: description;
        width: 600px;  
        margin: 10px;
        position: relative;
        font-size: 20px;
        bottom: 200px;
        right: 180px;
    }

    .card address {
        grid-area: address;
        font-size: 20px;
        width: 300px;  
        height: auto;
        margin: 0;
        align-self: center;       
        position: relative;
        bottom: 100px;
        right:320px;
    }

    .card button {
        grid-area: button;
        height: 40px;
        width: 900px;
        position: relative;
        justify-self: start;
        align-self: center;
        border-radius: 20px;
        font-size: 20px;
        right: 320px;
    }

    h1,header,footer{
        width: 1000px;
        box-sizing: border-box;
        background-color: var(--primary-color);
        
    }
    .message {
   
        padding: 10px;
        border: solid black;
        margin: 10px 0;
        font-size: 40px;
        justify-self: center;
        
    }
    .card img {
        transition: transform 0.3s ease; 
    }
    
    .card img:hover {
        transform: scale(1.2); 
    }
    
}




/*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/
@media (min-width: 320px) and (max-width:640px){
   
    .menu button {
        padding: 0.5rem;
        font-size: 25px;
        margin: 10px;
        font-family: var(--family-font1);
       
    }
    
    .box2{
        display: grid;  
        align-items: center;
        height: 120px;
        
    }
   
    .close {
        display: block;
        position: absolute;
        right: 0;
        padding: 0.2rem;        
        border: 0;
        font-size: 4rem;
        background-color: transparent;
        color: var(--secondary-color);       
    }
    .open{
        display: block;
        position: absolute;
        right: 0;
        padding: 2rem;        
        border: 0;
        font-size: 3rem;
        background-color: transparent;
        color: var(--secondary-color);
    }
    .nav {
        display: none;        
        position: absolute;
        top: 0;
        right: 3px;
        width: 300px;        
        height: 400px;       
        visibility: hidden;
    }
    .nav.visible{

        display: grid;    
        visibility: visible;
        grid-template-columns: 1fr;
        background-color:var(--primary-color);
        z-index: 20;
       
    }
    
    .startlink {
        list-style-type: none; 
        padding: 0;
        margin: 0;    
        width: 200px;
        display: grid;
        text-align: center;
    }
    h1{
        margin: 0;
        width: 100%;
        justify-self: center;
        justify-content: center;
        text-align: center;
        font-size: 40px;
        margin-top: 30px;
        margin-bottom: 20px;            
        height: 50px;
        align-content: center;
        color: var(--secondary-color);
        background-color: var(--primary-color);
        text-shadow: none;
    
    }
    /*--------------------------MAIN----------------------------*/
    main{
        display: flex;
        width: 100%;
        justify-content: center;
        width: 100%;
        margin: 0; 
        padding: 0;
        overflow: hidden; 
    }
    .container {
        display: grid;  
        grid-template-columns:auto;      
        justify-items: center;
        height: 4500px;
        width: 320px;
      
    }
    
    .card {
        display: grid;        
        gap: 10px;
        width: 320px;
        height: 520px;
        border: solid black;
        margin: 8px;
        border-radius: 10px;
        justify-content: center;
 
        grid-template-areas:
        "title"
        "img"
        "description"
        "address"
        " button";
    }
    
    .card h2 {
        grid-area: title;
        font-size: 28px;
        height: 70px;
        width: 320px;
        justify-content: center;         
        color: var(--tertiary-color);         
        font-family: var(--family-font1);    
        text-shadow: 2px 2px 5px rgba(0, 0, 255, 0.5); 
        background-color: var(--fifthy-color);
        position: relative;
        left: 8%;
        margin: 0;
        border-top-left-radius: 10px; 
        border-top-right-radius: 10px; 
     }

           
    
    
    .card img {
        grid-area: img;
        width: 300px;
        height: 200px;
        position: relative;
        bottom:20px;
        right:0.2%;
    }
    .card p {
        grid-area: description;
        width: 300px;
        margin: 10px;       
        position: relative;        
        font-size: 20px;
        left: 10%;
        bottom:40px;
    }
    
    .card address {
        grid-area: address;
        font-size: 16px;
        width: auto;
        height: auto;
        margin: 0;
        align-self: center;
        position: relative;        
        justify-self: center;
        left: 1%;
        bottom:45px;
       
    }
    
   
    
    .card button {
        grid-area: button;
        height: 50px;
        width: 200px;
        justify-self:center;
        align-self: center;
        border-radius: 10px;
        font-size: 20px;
        position: relative;
        left: 1%;   
        bottom:40px;    
        
    }
    footer{
        display: grid;
        height: 400px;
    }
    .message {
   
        padding: 10px;
        border: solid black;
        margin: 10px 0;
        font-size: 30px;
        justify-self: center;
        
        
    }
}
    
    
    
