:root{
    --primary-color:rgb(3, 19, 88);
    --secondary-color:rgb(250, 250, 252);
    --tertiary-color:rgb(6, 0, 0); 
    --family-font1:"Roboto", sans-serif;
    --quaternary-color:rgb(17, 167, 254); 
      
}
header{
    display: flex;
    background-color: var(--primary-color);
}
.box1{
    display: flex;
}
.box2{
    display: grid;  
    align-items: center;
    height: 120px;
}
.namepage{
    position: relative;
    margin-left: 6px;
    bottom:40px;
    color: var(--secondary-color);
    background-color: var(--tertiary-color);

}
.imghead{
    width: 100px;
    height: 100px;
    margin-top: 10px;
    margin-left: 6px;
    object-fit: cover;
}
.namecity{
    font-size: 30px;  
    margin-left: 6px;
    color:var(--secondary-color);
    background-color: var(--tertiary-color);
      
}
ul li a{
    text-decoration: none; 
    font-family: var(--family-font1);
    color: var(--secondary-color); 
    background-color:var(--tertiary-color);   
    font-size: 30px;
    border-radius: 2px;
  
      
}
.menu {	text-align: center;
}
.menu button {
	padding: 0.5rem;
	font-size: 25px;
    margin: 10px;
    font-family: var(--family-font1);
}

a:hover{
    color: rgb(69, 210, 249);
}


.button:hover{
    color:aqua;
    font-family: var(--family-font1);
}

form{    
    border: solid black;
    border-radius: 10px;
    padding: 2rem;
    margin-bottom: 20px;
}


h1{
    margin: 0; 
}
input{
    border-radius: 10px;
}

textarea, .textarea1{
    border-radius: 10px;
}

.card{
    border: solid black;
}

.button:hover{
    background-color: var(--quaternary-color);
    color: var(--tertiary-color)
}


.membapli label{
    display: block;
    
}
.membapli input:required{
    border-bottom: solid 5px rgb(229, 3, 3);
}

.socialimg{
    height: 70px ;
    height: 70px;
    background-color: var(--secondary-color);
    border-radius: 50%;
    object-fit: cover;
}

.modal-link{
    text-decoration: none;
    
    border: solid black;
    border-radius: 5px;
    color:var(--tertiary-color);
    background-color: rgb(205, 227, 255);
   position: relative;
   left:30%;
   padding: 0.5rem;

}
footer{
    display: flex;
    justify-content: space-around;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 17px;
    height: 150px;
    align-items: center;
    font-family: var(--family-font1);
   
}
footer p{
    margin: 0;
   

}

input, textarea,select{   
    background-color: rgb(237, 238, 240);   
}

@keyframes scaleUp {
    from {
      transform: scale(0.9);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  .card {
    animation: scaleUp 1s ease-in-out;
  }
  
  


  
  
  
  
  
  
  
  
  
  
  
  
  
  
  